.index-body {
    background-color:/* rgb(45, 38, 75) rgb(23, 20, 51)*/ /*rgb(13, 15, 36)*/ var(--login-main-color);
    display: flex;
}
.index-main {
    width: 80%;
    position: relative;
    margin-left: 20%;
    height: 100vh;
}
.index-footer {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-right: 20%;
    height: 100vh;
}
.site-title {
    color: rgb(255, 238, 233);
    text-shadow: 0px 0vh 3vh rgb(206, 139, 57);
    margin-top: 35vh;
    margin-bottom: 4vh;
    font-size: 7vh;
}
/*.site-title span {
    background-color: rgba(189, 122, 52, 0.2);
}*/
.site-written {
    color: rgb(249, 255, 255);
    font-size: 3vh;
    text-shadow: 0 0 1vh rgb(28, 103, 137);
}
.site-star {
    font-size: 0.8vh;
    margin-left: 0.3vh;
}
.site-sign-up {
    font-size: 2vh;
    color: white;
    text-shadow: 0 0 1vh rgb(232, 213, 95);
    position: absolute;
    bottom: 10vh;
}
/*로그인 폼 시작*/
.login-form {
    padding-top: 38vh;
    height: 100vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.site-slash {
    color: aliceblue;
    text-shadow: 0 0 1vh aliceblue;
    font-size: 2.5vh;
    text-align: center;
}
.site-login {
    display: flex;
    justify-content: center;
}
.id-box {
    display: flex;
    flex-direction: column;
    margin: 0vh 1vh 4vh 0.5vh;
}
.password-box {
    display: flex;
    flex-direction: column;
    margin: 4vh 0.5vh 0vh 1vh;
}
.site-login input {
    height: 11vh;
    width: 3vh;
    margin: 1vh 0;
    color: aliceblue;
    font-size: 2vh;
    border-style: none;
    border-radius: 0.7vh;
    transition: box-shadow 0.3s ease-in-out;
    background-color: var(--login-main-color);
}
.site-login input::placeholder {
    color: aliceblue;
    font-size: 2vh;
}
.site-login input:focus {
    box-shadow: 0 0 1vh rgb(115, 161, 202);
}
.site-login input:focus::placeholder {
    color: var(--login-main-color);
}
.site-submit {
    margin-bottom: 25vh;
    margin-left: 6vh;
    height: 4vh;
    width: 10vh;
    border-radius: 2vh;
    border: 0.1vh solid rgb(242, 228, 255);
    font-size: 2vh;
    background-color: var(--login-main-color);
    color: rgb(242, 228, 255);
    text-shadow: 0 0 1vh rgb(162, 84, 235);
}
.site-submit:hover {
    box-shadow: 0 0 3vh rgb(162, 84, 235);
}
.site-submit:active {
    background-color: rgb(10, 15, 29);
    box-shadow: none;
}
